@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url(http://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);

/*Some css fixes to use night theme with IPython slides*/
body {
/*background-color: #eff4ea;*/
font-family: 'cwTeXHei','Raleway', sans-serif;
}
.reveal p {
font-family: 'cwTeXHei','Raleway', sans-serif;
color: #2d28cc;
}
.reveal ul, ol {
color: #37474f;
}
.reveal ul li {
    font-family: 'cwTeXYen','Raleway';
}
div.output_area pre {
color: white;
}
div.output_stderr {
background: #F00;
}
.reveal table th, .reveal table td {
color: #4aaeee;
}
div.footer {
font-size:14pt;
font-family: 'cwTeXYen','Audiowide',sans-serif;
font-style: italic;
color: #4aaeee;
text-align: center
}
hr {
	border:0; height:1px;
	color:#d4d4d4	/* IE6 */
}
.reveal h1 {
    font-family: 'cwTeXYen','Audiowide',sans-serif;
}
.reveal h2 {
    font-family: 'cwTeXYen','Raleway',sans-serif;
}

h1 {
    padding: 5px;
}
.reveal h3 span {
    border: 1px solid #000;
}

